@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Spartan:wght@100&display=swap');

html {
  height: 100%;
}
:root {
  --primary: #393e46;
  --primary-light: #505762;
  --primary-dark: #22252a;
  --light: #ddd;
}

.font {
  font-family: 'Spartan', sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Permanent Marker', cursive;
}

a {
  color: var(--light);
  text-decoration: none !important;
}

a:hover {
  color: black;
}

.header-color {
  background-color: var(--primary-dark);
}

.bg {
  background-color: var(--primary-light);
}

main {
  min-height: 100vh;
}

.card {
  background-color: var(--primary);
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  padding-inline-start: 0;
}

ul.pagination {
  margin: 0 !important;
}

.logo {
  width: 100px;
  height: 100px;
  margin: auto;
}

div.card-body {
  padding: 10px !important;
}

div.row {
  justify-content: center;
}

.flex {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
